:root{
    --primaryColor: #213555;
    --backgroundColor: #f5efe7;
    --primaryAccentColor: #4f709c;
    --secondaryColor: #08C486;
    --whitecolor : white;
    --blackColor: #222222;
    --primaryFont:'Open Sans', sans-serif;
}


body{
    background-color: var(--backgroundColor);
    color: var(--primaryColor);
    font-family: var(--primaryFont);
}

.logo{
    display: inline-block;
    background-color: white;
}

.LogoImage{
    height: 80px;
}

#call{
    height: 80px;
}

#Navigation{
    margin: 80%;
    align-content: baseline;
}

#navbar{    
    display: inline-block;
    vertical-align: middle;
}

div{
    display: inline-block;
    height: 10px;
}

.menuitems{
    margin: auto;
    text-align:center;
}

a{
    text-decoration: none;
}
#home{
    padding: 100px;
}
#services{
    padding: 100px;
}
#contact{
    padding: 80px;
}

#about{
    padding: 80px;
}

input[type=search]{
    padding: 5px;

}

#Images{
    height: 50px;
    border-color: antiquewhite;
}

.bar{
    background-color: lightgray;
    height: 300px;
    width: -1000px;
    padding: 20px;
    margin-bottom: 200px;
}

.greeting{
        font-family: 'Dancing Script', serif;
        font-size: xx-large;
}

.photo{
    border-radius: 400px;
    height: 500px;
    width: 300px;
    margin-right: 1em;
    object-fit: none;
    margin-top: 20px;
    
    
}
